h1 {
    color:coral;
    text-align: center;
    background-color: aquamarine;
}

h3 {
    color: chartreuse;text-align: center
}

button {
    color:aquamarine;
    background-color: coral;
    width: 200px;
    height: 200px;
}

#demo {
    color:chartreuse;
    top: 50%;
}

.container {
    height: 500px;
    position: relative;
    border: 3px solid aqua;
    background-color:deeppink;
    background-image: url(https://tiermaker.com/images/templates/556631564092136.png);
}

.center {
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

body {
    background-color: cornflowerblue;
    background-image: url(https://p.kindpng.com/picc/s/198-1982233_cursed-discord-emojis-hd-png-download.png);
}