@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
  --main: #ff9933;
  --background: #e5dcaa;
}

body {
  background-color: var(--background);
  font-family: "Open Sans";
}