@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

:root {
    --main: #ff9933;
    --background: #e5dcaa;
}

body {
    background-color: var(--background);
    font-family: "Open Sans";
}

code {
    background-color: black;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

.code {
    background-color: black;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

.tab {
    display: inline-block;
    margin-left: 40px;
}

.title-flex {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 10px;
    top: 10px;
    position: sticky;
}

.title {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    font-weight: bolder;
    margin: 10px;
    padding: 10px;
    width: 80%;
    
    text-align: center;

    color: var(--main);
    background-color: var(--background);
}

.blog-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.subheading {
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    text-align: center;
}

.article {
    width: 80%;
    margin: 10px;
    padding: 10px;
    background-color: var(--purple);
    text-align: justify;
    text-justify: inter-word;
}

.link:link {
    text-decoration: none;
}
.link:visited {
    text-decoration: none;
}